<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  <title>Image colour picker</title>
</head>

<body>
  <header></header> </header> <main style="margin: 1em;">
    <h3>Colour Picker</h3>
    </main>
    </body>

</html>