<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 229, 233);
}



.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
<script>
  const getTheNumber = str => {

  // returns the first group of characters up to a space
   let spaceIndex = str.indexOf(" ");
   return spaceIndex === -1 ? str : str.substr(0, spaceIndex);
 };

 async function numberFacts() {
   try {
     // getting the trivia of the a random number
     let numberTrivia = await fetch("http://numbersapi.com/random/trivia");

     // converting it to text
     let numText = await numberTrivia.text();

     // getting the number out of the string
     let num = getTheNumber(numText);

     // seperating the number at the beggining from the rest of the text
     numText = numText.split(" ").slice(2).join(" ");

     // send out the information to the html
     document.getElementById("numFact").innerHTML = numText;
     document.getElementById("Number").innerHTML = num;
   } catch (error) {
     console.error(error);
   }
 }
</script>

</head>
  <body onload="numberFacts()">
    <h1>The number:</h1> <h2><span id="Number"></span></h2>
    <h1>This number represents:</h1> <h2><span id="numFact"></span></h2>

<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">The number:</a>
      <a href="#">This number represents:</a>
      <a href="http://google.com">Link to number trivia</a>
    </div>
  </div> 
</div>

<h3>Dropdown Menu inside a Navigation Bar</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>

</body>
</html>
<script type="text/javascript" src="../index.js">console.log(text)</script>
 <h1 style="text-align: center;">Dynamic Colour Rendering</h3>
    <p class="codepen" data-height="800" data-theme-id="light" data-default-tab="html,result" data-slug-hash="bGbobMa" data-preview="false" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/kylewetton/pen/bGbobMa">
           on <a href="https://codepen.io"></a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

 </body>
