<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="image.css">

  
  <title style="justify-content: center;">Image colour picker</title>
</head>

<body>
  <h1 style="text-align: center;">Image Colour Picker</h3>
    <p class="codepen" data-height="800" data-theme-id="light" data-default-tab="html,result" data-slug-hash="bGbobMa" data-preview="false" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
      <span>See the Pen <a href="https://codepen.io/kylewetton/pen/bGbobMa">
           on <a href="https://codepen.io"></a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

 </body>

</html>