<!DOCTYPE html>
<html>
  <style>
    h1 {
      color: rgb(117, 17, 67);
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
    body {
      background-color: lightblue;
    }
  </style>
  <head>
    <script>
    const getFirstWord = (str) => {
        let spaceIndex = str.indexOf(' ');
        return spaceIndex === -1 ? str : str.substr(0, spaceIndex);
    };


      async function numberFacts() {
        try {
          // getting the trivia of the number
          let numberTrivia = await fetch("http://numbersapi.com/random/trivia");

          // converting it to text
          let numText = await numberTrivia.text();

          // getting the number out of the string
          let num = getFirstWord(numText)

          // seperating the number at the beggining from the rest of the text
          numText = numText.split(' ').slice(2).join(' ')
          
          // send out the information to the html
          document.getElementById("numFact").innerHTML = numText;
          document.getElementById("Number").innerHTML = num;
        } catch (error) {
          console.error(error);
        }
      }
    </script>
  </head>

  <body onload="numberFacts()">
    <h1>The number: <span id="Number"></span></h1>
    <h1>The fact: <span id="numFact"></span></h1>
  </body>
</html>
